[submodule "RPG/lib/anim8"]
	path = RPG/lib/anim8
	url = https://github.com/kikito/anim8.git
[submodule "online/lib/sock.lua"]
	path = online/lib/sock.lua
	url = https://github.com/camchenry/sock.lua.git
