[submodule "RPG/lib/anim8"]
	path = RPG/lib/anim8
	url = https://github.com/kikito/anim8.git
[submodule "shipgame/lib/mylove"]
	path = shipgame/lib/mylove
	url = https://github.com/austinmdillow/mylove.git
[submodule "shipgame/lib/ripple"]
	path = shipgame/lib/ripple
	url = https://github.com/tesselode/ripple.git
